body {
    margin: 0px !important;
    background-color: #000;
}

.container {
    width: 100%;
    height: 100%;
}

.first-image {
    background-image: url("cat1.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.second-image {
    background-image: url("cat2.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: #fff;
}

.content {
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 40vh;
}
